<div class="container footer-cont">
    <div class="row">
        <div class="col-lg-6 col-sm-12 vcenter">
            <div class="teamgle-logo ml-auto"></div>
        </div>
        <div class="col-lg-6 col-sm-12 vcenter">
            <div class="container centerBlock">
                <h3 class="team-name">Teamgle</h3>
                <i class="fas fa-at"></i> info@teamgle.com
                <br>
                <i class="fas fa-phone"></i> +1-234-56789
                <br>
                <div class="container icons">
                    <a>
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a> 
                    <a>
                        <i class="fab fa-instagram fa-2x"></i>
                    </a> 
                    <a>
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
