<div class="container under-nav-title">
    <h1 class="title">Q&A</h1>
    <div data-aos="fade-left"
        data-aos-duration="2000"
        data-aos-once="true"
        data-aos-delay="200">
        <h2 class="subtitle">
            <span class="team-name">Teamgle</span> pricing will be set depending on the amount of orders on each month
        </h2>
    </div>
</div>
<div data-aos="zoom-in"
        data-aos-duration="2000"
        data-aos-once="true"
        data-aos-delay="800">
    <div class="container marg-top-bottom-30">
        <qanda-accordion></qanda-accordion>
    </div>
</div>
