<div class="container" id="cu-div">
    <div class="container">
        <h1 class="title">Contact us</h1>
    </div>
    <h2 class="subtitle">Fill up the form and we will contact you ASAP</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <div class="text-container">
                <form>
                    <div class="form-group">
                        <label class="team-name-blue-bg" for="firstName">Enter your first name</label>
                        <input id="firstName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="team-name-blue-bg" for="email">Enter your email</label>
                        <input id="email" type="text" class="form-control">
                    </div>
                    <div class="btn btn-primary">Submit</div>
                </form>
            </div>
        </div>
    </div>
</div>
