<h1 class="title under-nav-title">אודות</h1>
    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-once="true"
                data-aos-delay="200">
                <img src="assets/pics/event-img.jpg" class="about-img">
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 text-column">
            <div data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-delay="300">
                <div class="about-us-text">
                    <p style="font-size: 25px"><span class="team-name">Teamgle</span></p>
                    <p>הוקמה על ידי צוות ממשפחת איוונטאקט , חברת תוכנה בתחום הכנסים והאירועים</p>
                    <p>אחרי שניהלנו באיוונטאקט צוותים באלפי אירועים, אינספור משמרות, לוגיסטיקה מורכבת - בכל הארץ וגם בעולם, אנחנו יודעים שלנהל צוות היטב, זו משימה מאתגרת ולא פשוט</p>
                    <p>כדי לעמוד במשימה בהצלחה – צריך מנגנון חכם שחוסך שעות עבודה יקרות, מקל על החיים של כולם ומגדיל את הרווח שלכם</p>
                    <p>.אנחנו יודעים כי אנחנו עושים את זה כבר הרבה מאוד זמן</p>
                    <p id="hear-more-text">?רוצים לשמוע עוד</p>
                    <div style="text-align: center;">
                        <i class="fas fa-at"></i><a href="info@teamgle.com">info@teamgle.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
