<h1 class="title under-nav-title">About us</h1>
    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-once="true"
                data-aos-delay="200">
                <img src="assets/pics/event-img.jpg" class="about-img">
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 text-column">
            <div data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-delay="300">
                <div class="about-us-text">
                    <p><span class="team-name">Teamgle</span> has been created by the <span class="black-font">Eventact</span> team, a Hi-tech company in the conference and events field. </p>
                    <p>After managing thousands of events and conventions on <span class="black-font">Eventact</span>, bunch of work shifts and very complicated logistics
                        all around the globe, we now how hard it is to manage work teams properly. It's a very complicated and exausting challenge.
                    The key of success is having a smart mechanism for reducing expensive working time, making your life easier and make a proffit at the same time.</p>
                    <p>We know this because we have being handling with it for a long long time.</p>
                    <p id="hear-more-text">Want to hear more?</p>
                    <div style="text-align: center;">
                        <i class="fas fa-at"></i><a href="info@teamgle.com">info@teamgle.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
