#navbar {
    width: 100%;
    top:0;
    box-shadow: 2px 2px black;
  }
  
  .navbar a {
    color: black;
    font-size: 18px;
    cursor: pointer;
  }
  
  .cov-img {
    background: url("../../assets/logo-title/logo-title.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 200px;
    background-position: center;
  }
  
  @media (max-width : 400px) {
    .fixed-top { position: -webkit-sticky; position: sticky;}
    .cov-img {height: 80px;}
  }
  
  @media screen and (orientation:landscape) {
    .cov-img {height: 80px;}
  }

#navbarSupportedContent a {
  float: right;
  text-align: right
}
  