<div class="container" id="wwd-div">
    <div data-aos="zoom-in"
        data-aos-duration="2000"
        data-aos-once="true"
        data-aos-delay="50">
        <div class="container">
                <h1 class="title">
                    <!-- What do we do? -->
                    מה אנחנו עושים?
                </h1>
            </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-12">
            <div data-aos="zoom-in-up"
                data-aos-duration="2000"
                data-aos-once="true"
                data-aos-delay="50">
                <div class="container text-container">
                    <!-- <p class="text-in-box"><span class="team-name-blue-bg">Teamgle</span> is a web based platform that let's you manage your work team and get ready to your next event.
                        Human Resources managment in less time, less money and less erros.
                        Enough with Whatsapp groups, excel tables and phone.
                        Now, everything is easier with <span class="team-name-blue-bg">Teamgle</span>
                    </p> -->
                    <p class="text-in-box">
                        <span class="team-name-blue-bg">Teamgle</span> מנהל את הצוות שלכם בקלות ולהמשיך לאירוע הבא!
                    </p>
                    <p class="text-in-box">
                            ניהול כח אדם לכנסים ואירועים – בפחות זמן, פחות כסף ופחות טעויות. 
                            בלי קבוצת וואטסאפ, בלי טבלאות אקסל, בלי טלפונים, בלי תקלות - בלי לבזבז זמן מיותר. 
                            מאוד פשוט ומאוד בקלות.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>